<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
   <title>App</title>
</head>

<body>
   <table class="table-striped table-responsive ml-3 mr-3">
      <thead>
         <tr>
            <th>Full URL</th>
            <th>Short URL</th> 
            <th>Clicks</th> 
            <th>Time Created</th> 
         </tr> 
      </thead >
      <tbody class="ml-3 mr-3">
         <% urls.forEach(url=> { %>
            <tr>
               <td>
                  <%= url.full %>
               </td>
               <td>
                  <%= String(baseLink + url.short) %>
               </td>
               <td>
                  <%= url.clicks %>
               </td>
               <td>
                  <%= url.time %>
               </td>
            </tr>
            <%});%> 
      </tbody>
   </table>
</body>

</html>