<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <!-- Import same styles for each page -->
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
   <title>App</title>
</head>

<body>
   <div class="container">
      <h1>Register</h1>
      <form action="/users/register" method="POST" class="my-4 form-inline">
         <label for="name" class="sr-only">Username</label>
         <input required placeholder="username" type="text" name="username" value="<%= typeof newUser != 'undefined' ? newUser.name : '' %>"  class="form-control col mr-2">
         <label for="name" class="sr-only">Password</label>
         <input required required placeholder="password" type="password" name="password" value="<%= typeof newUser != 'undefined' ? newUser.password : '' %>"  class="form-control col mr-2">
         <button class="btn btn-success" type="submit">Submit</button>
      </form>
      <a href="/users/login">Login</a>
   </div>
</body>

</html>